<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <!-- Simple file -->
    <target xsi:type="File" name="logfile" fileName="file.txt"/>
    
    <!-- Rolling file stored in App_Data. Archive every day; keep a max of 7 days. -->
    <target
      name="RollingLogFile"
      xsi:type="File"
      layout="${longdate} ${logger} ${uppercase:${level}} ${message} ${exception:format=tostring}"
      fileName="${basedir}/App_Data/Logs/current.log"
      archiveFileName="${basedir}/App_Data/Logs/archive.{#}.log"
      archiveEvery="Day"
      archiveNumbering="Rolling"
      maxArchiveFiles="7"
      concurrentWrites="true"
      keepFileOpen="true"
      encoding="utf-8" />
    
    <!-- Console logger -->
    <target xsi:type="Console" name="console" />
    
    <!-- Event Log -->
    <target xsi:type="EventLog" name="eventlog" machineName="." log="NLogTest" layout="${message}${newline}${exception:format=ToString}"/>

    <!-- Log to a SQL table -->
    <target
      xsi:type="Database" 
      name="dbTarget" 
      dbProvider="mssql"
      connectionStringName="Logger"
      commandText="INSERT INTO Log ([DateUtc], [ThreadId], [Level], [MachineName], [Logger], [UserName], [Message], [Exception]) VALUES (@dateUtc, @threadId, @level, @machineName, @logger, @userName, @message, @exception)">
      <parameter name="@dateUtc" layout="${longdate:universalTime=true}" />
      <parameter name="@threadId" layout="${threadid}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@machineName" layout="${machinename}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@userName" layout="${identity}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@exception" layout="${exception:separator=:format=ToString}" />
    </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="RollingLogFile" />
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="eventlog" />
    <logger name="*" minlevel="Info" writeTo="dbTarget" />
  </rules>
</nlog>