<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <!-- add your targets here -->
    <target xsi:type="File" name="logfile" fileName="file.txt"/>
    <target xsi:type="Console" name="console" />
    <target xsi:type="EventLog" name="eventlog" machineName="." log="NLogTest" layout="${message}${newline}${exception:format=ToString}"/>

    <target
      xsi:type="Database" 
      name="dbTarget" 
      dbProvider="mssql"
      connectionStringName="Logger"
      commandText="INSERT INTO Log ([DateUtc], [ThreadId], [Level], [MachineName], [Logger], [UserName], [Message], [Exception]) VALUES (@dateUtc, @threadId, @level, @machineName, @logger, @userName, @message, @exception)">
      <parameter name="@dateUtc" layout="${longdate:universalTime=true}" />
      <parameter name="@threadId" layout="${threadid}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@machineName" layout="${machinename}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@userName" layout="${identity}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@exception" layout="${exception:separator=:format=ToString}" />
    </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="eventlog" />
    <logger name="*" minlevel="Info" writeTo="dbTarget" />
  </rules>
</nlog>